@font-face {
  font-family: 'cattino';
  src: url('Cattino.ttf') format('truetype');
}
@font-face {
  font-family: 'catways';
  src: url('Catways.ttf') format('truetype');
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #d2d2d2;
  background: url("https://t3.ftcdn.net/jpg/01/96/83/20/360_F_196832044_ISa3G24W2dmiW5X94hJq59Cs8uHat8I1.jpg");
}

body {
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  height: calc(100vh - 60px - 40px);
  justify-content: center;
}

h1{
  font-size: 3em;
  font-family: 'catways', sans-serif;
}

.topBar {
  height: 60px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-family: 'cattino', sans-serif;
}

.bottombar {
    height: 40px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: 'cattino', sans-serif;
}

.dogSection, .catSection {
  transition: flex 0.5s ease;
  cursor: pointer;
  padding: 50px;
  text-align: center;
}

.factTextDog, .factTextCat {
  opacity: 0;
  transition: opacity 1s ease;
  font-size: 1.5em;
  font-family: 'catways', sans-serif;
}

.factTextDog.visible, .factTextCat.visible {
  opacity: 1;
}

.dogSection {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  transform: skew(14deg);
}

.dogSection img, .dogSection h1, .dogSection p{
  transform: skew(-14deg);
}


.catSection {
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  transform: skew(-14deg);
}

.catSection img, .catSection h1, .catSection p{
  transform: skew(14deg);
}